.attendanceMe {
    .buttonsWrapper {
        display: flex;
        gap: 16px;
        max-width: 800px;
        container-type: inline-size;
        margin-bottom: 16px;

        .startWorkBtn {
            flex: 1 1 60%
        }

        .endWorkBtn {
            flex: 1 1 40%;
        }
    }
    .startWorkBtn, .endWorkBtn {
        min-height: 10cqw;
    }
}
