<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <element>
        <link>/WorkScheduleItem</link>
        <title key="WorkSchedule.WorkScheduleList.menu">WorkScheduleItem</title>
        <menu>
            <element>
                <link>/WorkScheduleItem</link>
                <title key="WorkSchedule.mySchedule.menu">WorkScheduleItem</title>
            </element>
        </menu>

    </element>
</menu>
