<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <element>
        <link>/Attendance</link>
        <title>Attendance</title>
        <menu>
            <element>
                <link>/Attendance/me</link>
                <title>Myself</title>
            </element>
            <element>
                <link>/Attendance/userSummary</link>
                <title>userSummary</title>
            </element>
        </menu>

    </element>
</menu>
