<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <element>
        <link>/Attendance</link>
        <title  key="Attendance.Attendance.Attendance">Attendance</title>
        <menu>
            <element>
                <link>/Attendance/me</link>
                <title  key="Attendance.myself">Myself</title>
            </element>
            <element>
                <link>/Attendance/userSummary</link>
                <title  key="Attendance.userSummary">userSummary</title>
            </element>
        </menu>

    </element>
</menu>
